<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team %><br>
    <%= f.text_field :team %>
  </div>
  <div class="field">
    <%= f.label :conference %><br>
    <%= f.text_field :conference %>
  </div>
  <div class="field">
    <%= f.label :played %><br>
    <%= f.number_field :played %>
  </div>
  <div class="field">
    <%= f.label :won %><br>
    <%= f.number_field :won %>
  </div>
  <div class="field">
    <%= f.label :lost %><br>
    <%= f.number_field :lost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
