
	<tbody>
		<tr>
		  <td class="name"><%= team.team %></td>
	    <td class="won stats"><%= team.won %></td>
	    <td class="lost stats"><%= team.lost %></td>
	    <td class="played stats"><%= team.played %></td>
	    <td class="played stats"><%= team.streak %></td>
		</tr>
	</tbody>
</div>